/*
 * I want to Menu, Mobile header icons
 * --------------------------------------------------
 * Mobile first
 */

.branding-dropdown{
    @include sizeDesktop(){
        clear: both;
        margin-top: 3em;
    }
}

.iwantto {

 
  @include sizeDesktop() {
    box-sizing: border-box;
    clear: none;
    display: block;
    float: left;
    margin-left: 45.7%;
    margin-right: -100%;
    width: 21.8%;
  }
 

  @include breakpoint($lg-desk) {
    width: 23.8%;
    margin-left:49.7%;
  }

  .btn-group {
    width: 100%;
    position: relative;
    vertical-align: middle;
    font-size: 1em;

    @include sizeDesktop() {
      font-size: 0.813em;
    }

    .dropdown-toggle {
        @include form-elements;
        text-transform: normal;
        text-align:left;
        font-family: $sans-serif-stack-thin;
        padding:0;
        margin:0;

     .dropdown-parent{
       list-style:none;
     }

      .copy{
        @extend %tablet_navigation_list_item;
        padding-left:0.714em;
        color:$white;
        cursor:pointer;

        @include sizeDesktop(){
          padding-left:1.429em;
          background-color: $white;
          color: $input-gray;
          font-family: $serif-stack;
          height:36px;
          line-height:36px;
          border:none;
        }

        &:hover {
          background: $main-nav-hover;

          @include sizeDesktop(){
            background: $white;
          }
        }
      }


    }

    &.open {
      .copy {
        background-color: $main-nav-hover;

        @include sizeDesktop(){
          background-color: $white;
        }

      }
    }
  }//btn-group
}//iwantto


  .menu-i-want-to{
      display: none;
      margin: 0;
      padding: 0;

      @include sizeDesktop(){
          position: absolute;
          top: 30px;
          z-index: 100;
          padding: 0.357em 0;
      }

      .first{
        @include sizeDesktop(){
          border-top: 1px dotted $nav-border-gray;
        }
      }

      li {
        @extend %tablet_navigation_list_item;
        background-color: $device-nav;
        list-style:none;
        padding-left:0.714em;
        line-height:1.5;


        &:hover{
          background-color: $main-nav-hover;
        }

        @include sizeDesktop(){
          background-color: $white;
          float: left;
          height: auto;
          line-height: 1;
          border-bottom: 1px dotted $nav-border-gray;
          padding-left:0;

          &:hover {
            background-color: $white;
          }
        }

        a {
          @extend %tablet-navigation-menu-anchor;
          color:$white;

          @include sizeDesktop(){
            color: $standard-link;
            height: auto;
            font-family: $sans-serif-stack;
            padding: 10px 0;
            padding-left: 1.429em;

            &:hover{
              background: $accent-red;
              color: $white;
            }
          }
        }

      }
  }

.copy:after {
  @extend %dropdown-arrow;
  margin:auto;
  font-size:2em;
  position:relative;
  right:0;

  .open &{
      content: "\f106";
  }
}

.open {
  .menu-i-want-to {
    display: block;

    li {
      background-color: $main-nav-blue;
      display: block;
      padding: 0.5em;

      &:hover{
        background-color: $main-nav-hover;
      }

      a {
        @include verticalalign;
      }

      @include sizeDesktop(){
        background: $white;
        padding: 0;

        a, a:link {
          color: $main-nav-blue;
          top: auto;
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;

          &:hover{
            background: $accent-red;
            color: $white;
          }
        }
      }
    }
  }
}

.l-header{
	.inner-header{
		@include header-theme;
       // @media print{background-color:transparent;}
	}

	.logo-tablet{
		display:none;
	}

	.logo-main{
		display:none;
	}

	.logo-mobile{
		display:block;
	}

	@include breakpoint($tab-portrait){
		.logo-mobile{
			display:none;
		}

		.logo-tablet{
			display:block;
		}

		.logo-main{
			display:none;
		}
	}

	@include sizeDesktop(){
		.logo-mobile{
			display:none;
		}

		.logo-tablet{
			display:none;
		}

		.logo-main{
			display:block;
		}
	}
 
}

.navbar-header{
  &.inner-header{
    position:relative;
    padding:0.2em;

    @include breakpoint($tab-portrait){
      padding:0;
    }
  }
}

.main-nav-mobile{
   width:31%;
   
   @include breakpoint($tab-portrait){
      line-height: 2.5;
      height: 86px;   
   }
    
}

.gbl-hamburger{
    width:14%;
    position:absolute;
    top:0;
    left:0;
    float:left;
}

.gbl-logo{
   &.main-nav-mobile{
      width:30%;       
      margin: 0 auto;
    // @media print {
    //   margin:0;
    // }
    }
}

.gbl-search{
    &.main-nav-mobile{
      width:40%;
      float:right;
      position:absolute;
      top:0;
      right:0;
    }
}


a.navbar-brand{
  display:inline-block;
}

.navbar-toggle{
      background: none repeat scroll 0 0 $pale-blue;
      color: $main-nav-blue;
      border-radius: 0 0 0 0;
      display: block;
      margin: 0px;
      border:none;
      width:100%;
      font-size:2em;
      padding:0.3em;
      cursor:pointer;
      line-height:1.2;
   //   @media print{display: none;}
      @include switch-to-mobile;//color,bgcolor change

      @include breakpoint($tab-portrait){
          width:100px;
          height: 86px;
          line-height: 1;
      }
}


.navbar-header{
      @include grid-span(1, 1, 1);
      @include clearfix;
      display:block;

      @include sizeDesktop(){
        display:none;
      }
}

.navmenu-brand {
      height: 125px;
      padding: 0;
      position: relative;
      display:none;

      @include sizeDesktop(){
        display:block;
      }

      .site-logo{
        position: relative;
        display:inline-block;
        z-index: 1000;
        outline:none;
        cursor:pointer;
      }
}

.header-wrap{
    @include sizeDesktop(){
      padding-right: 0;
      position: absolute;
      top: 5px;
      height:116px;
    }

}
