@import "variables/grid";
@import "variables/colors";
@import "variables/typography";
@import "abstractions/placeholders";

.l-region--sidebar-first{
		@include grid-span(1, 1, 1);	// For any smaller than small desktop
        padding: 0 0.669em;

		@include breakpoint($tab-portrait){
          @include grid-span(6, 1, 6);
		}
		@include breakpoint($tab-landscape){
          padding:0;
          @include grid-span(6, 1, 6);
		}
		@include breakpoint($desk){
		  @include grid-span(2, 1, 12);
		}

		@include breakpoint($lg-desk){
			@include grid-span(2, 1, 12);
		}
}


.l-region--sidebar-third{
          @include grid-span(1, 1, 1);		// For any smaller than small desktop
          padding: 0 0.669em;

          @include breakpoint($tab-portrait){
            @include grid-span(6, 1, 6);
          }
          @include breakpoint($tab-landscape){
            padding:0;
            @include grid-span(6, 1, 6);
          }
          @include breakpoint($desk){
            @include grid-span(3, 10, 12);
          }

          @include breakpoint($lg-desk){
            @include grid-span(3, 10, 12);
          }
}



.has-two-sidebars{
      .l-content{
          @include grid-span(1, 1, 1);		// For any smaller than small desktop
          padding: 0 0.669em;

          @include breakpoint($tab-portrait){
            @include grid-span(6, 1, 6);
          }
          @include breakpoint($tab-landscape){
            padding:0;
            @include grid-span(6, 1, 6);
          }
          @include breakpoint($desk){
            @include grid-span(7, 3, 12);
          }

          @include breakpoint($lg-desk){
              @include grid-span(7, 3, 12);
          }
        }
}

.has-no-sidebars{
        .l-content{
            @include breakpoint($desk){
              @include grid-span(12, 1, 12);
            }

        }
}


.has-one-sidebar.has-sidebar-first{
    .l-region--sidebar-first{
        @include breakpoint($desk){
          @include grid-span(2, 1, 12);
        }
    }
     .l-content{
        @include grid-span(1, 1, 1);    // For any smaller than small desktop
          padding: 0 0.669em;
          
        @include breakpoint($desk){
          @include grid-span(10, 3, 12);
        }
    }
}

.has-one-sidebar.has-sidebar-third{
   .l-content{
        @include breakpoint($desk){
          @include grid-span(9, 1, 12);
        }
    }

    .l-region--sidebar-third{
        @include breakpoint($desk){
          @include grid-span(3, 10, 12);
        }
    }
}




.panel-3col,
.panel-3col-33,
.panel-3col-stacked,
.panel-3col-33-stacked{
      @extend %responsive-3col-content;
}

.panel-2col,
.panel-2col-bricks,
.panel-2col-stacked{
      @extend %responsive-2col-content;
}


